<!--
  Generated template for the IlpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton color="facebook">
    <ion-title><div class = "row">
   <div class = "col col-50">     <ion-title  (click)="goHome()" >
<img alt="logo"    src="./assets/icon/home.png" > 
</ion-title></div>
   <div class = "col"></div>
     <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/user.png" > 
        </button>
   <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/noti.png" > 
        </button>
   <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/menu.png"> 
        </button>
 <!--   <div class = "col" style="margin-left: 20px;">

   <ion-title>
   <ion-col><img alt="logo"    src="./assets/icon/user.png" style="margin-right: 10px;"></ion-col>
   <ion-col><img alt="logo"    src="./assets/icon/noti.png" style="margin-right: 10px;"> </ion-col>
  <ion-col><button ion-button icon-only menuToggle>
    <img alt="logo"    src="./assets/icon/menu.png"> 
    </button></ion-col>
</ion-title></div> -->
</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
   <ion-card-header>
     <img alt="logo"    src="./assets/icon/ins2.png"> <ion-title text-center style="margin-top: -30px;"><a style="color: white;text-align: center;font-weight: lighter;">ILP</a></ion-title>
     
    </ion-card-header>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)" placeholder="Carian"></ion-searchbar>
       <ion-item>
 
     <ion-label style="color: white;">Negeri</ion-label>
         <ion-select  (ionChange)="setDistrictValues(sState)" [(ngModel)]="sState" (ionCancel)="onCancel($event)">
             <ion-option [value]="sState" *ngFor="let sState of states">{{sState.sta_name}} </ion-option>
         </ion-select>
  </ion-item>
    <ion-item *ngIf="selectedDistricts">
 
     <ion-label style="color: white;">Daerah</ion-label>
         <ion-select (ionChange)="setCityValues(sDistrict)" [(ngModel)]="sDistrict">
             <ion-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.district_name}} </ion-option>
         </ion-select>
  </ion-item>
 <ion-row *ngFor="let property of properties">
    <ion-card>
        <!-- <img src="{{property[0].pers_tg_id}}"/> -->
        <ion-card-content (click)="openPropertyDetail(property)" >
            <h2 class="card-title" style="color: white;font-weight: lighter;">{{property.company_name}}</h2>
        </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
