<!--
  Generated template for the TobtabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar hideBackButton color="facebook">
    <ion-title><div class = "row">
   <div class = "col col-50">     <ion-title  (click)="goHome()" >
<img alt="logo"    src="./assets/icon/home.png" > 
</ion-title></div>
   <div class = "col"></div>
     <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/user.png" > 
        </button>
   <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/noti.png" > 
        </button>
   <button ion-button menuToggle end>
            
              <img alt="logo"    src="./assets/icon/menu.png"> 
        </button>
 <!--   <div class = "col" style="margin-left: 20px;">

   <ion-title>
   <ion-col><img alt="logo"    src="./assets/icon/user.png" style="margin-right: 10px;"></ion-col>
   <ion-col><img alt="logo"    src="./assets/icon/noti.png" style="margin-right: 10px;"> </ion-col>
  <ion-col><button ion-button icon-only menuToggle>
    <img alt="logo"    src="./assets/icon/menu.png"> 
    </button></ion-col>
</ion-title></div> -->
</div></ion-title>
  </ion-navbar>

</ion-header>


 <ion-content class="bg">

   <!--  <ion-list>
      <button menuClose class="button-box" ion-item >
        <ion-icon name="ios-contact-outline"></ion-icon>&nbsp;Nama User  <ion-badge color="light"  text-right>12</ion-badge>
      </button>
    </ion-list> -->
    <ion-card-header>
     <img alt="logo"    src="./assets/icon/plane2.png"> <ion-title text-center style="margin-top: -30px;"><a style="color: white;text-align: center;font-weight: lighter;">Agensi Pelancongan</a></ion-title>
     
    </ion-card-header>
       <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)" placeholder="Carian"></ion-searchbar>
    <ion-list>
     <ion-item>
 
     <ion-label style="color: white;">Negeri</ion-label>
         <ion-select  (ionChange)="setDistrictValues(sState)" [(ngModel)]="sState" (ionCancel)="onCancel($event)">
             <ion-option [value]="sState" *ngFor="let sState of states">{{sState.sta_name}} </ion-option>
         </ion-select>
  </ion-item>
     <ion-item *ngIf="selectedDistricts">
 
     <ion-label style="color: white;">Daerah</ion-label>
         <ion-select (ionChange)="setCityValues(sDistrict)" [(ngModel)]="sDistrict">
             <ion-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.district_name}} </ion-option>
         </ion-select>
  </ion-item>
   <!--  <div class="box">
      <button menuClose class="button-box" ion-item >
        <img alt="logo"    src="./assets/icon/hotel.png">Hotel 
      </button></div> -->
 
  <ion-row *ngFor="let property of properties">
    <ion-card>
        <!-- <img src="{{property[0].pers_tg_id}}"/> -->
        <ion-card-content (click)="openPropertyDetail(property)" >
            <h2 class="card-title" style="color: white;font-weight: lighter;">{{property.appl_company_name}}</h2>
        </ion-card-content>
    </ion-card>
  </ion-row>

<!--   <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
 <!--  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Tobtab</div>
    </ion-col> -->
<!-- 
  </ion-row>
    <ion-item-sliding *ngFor="let property of properties">
            <button ion-item (click)="openPropertyDetail(property)">
                <ion-thumbnail item-left>
                    <img src="{{property.thumbnail}}"/>
                </ion-thumbnail>
                <h2>{{property.title}}</h2>
                <p>{{property.city}}, {{property.state}} ∙ {{ property.price }}</p>
            </button>
            <ion-item-options>
                <button danger (click)="deleteItem(property)">Delete</button>
            </ion-item-options>
        </ion-item-sliding> -->
<!--   <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-20>
      <div class="box" style="height: 44px;">Nama Hotel</div>
    </ion-col> -->
  <!-- </ion-row> -->

  <!-- <ion-row>
    <ion-col col-20>
      <div class="box"><img alt="logo"    src="./assets/icon/aduan.png"></div>
    </ion-col>
  </ion-row> -->
    </ion-list>
    
    </ion-content>
<ion-footer >
  <ion-toolbar color="facebook">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-footer>