<!--
  Generated template for the HotelapplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  

</ion-header>


<ion-content padding class="bg">
<ion-navbar color="facebook">
    <ion-title>Pengkelasan</ion-title>
  </ion-navbar>
  <ion-card>
         <ion-card-content>
            <h2 class="card-title" style="color: white;font-weight: strong;text-align: center;">{{userDetails.usr_fullname}}</h2>
            <h2 class="card-title" style="color: white;font-weight: strong;text-align: center;">{{userDetails.usr_id}}</h2>
			        </ion-card-content>
</ion-card>
<ion-slides style="margin-top: -150px;" pager>
  <div  *ngFor="let propertyx of properties">
<ion-slide>
    <ion-card>
         <ion-card-content>
            <h2 class="card-title" style="color: white;font-weight: strong;">Tarikh Permohonan:</h2>
            
            <p style="color: white;font-weight: lighter;">05-06-2016</p>
			        </ion-card-content>
        </ion-card>
     <ion-card>
         <ion-card-content>
            <h2 class="card-title" style="color: white;font-weight: strong;">Status Permohonan:</h2>
            <p style="color: white;font-weight: lighter;">Penkelasan Tamat</p>

        </ion-card-content>
        </ion-card>

          <!--   <div *ngIf="propertyx.tobtab_application_status_id== '43' || propertyx.tobtab_application_status_id == '44'|| propertyx.tobtab_application_status_id == '47'">
        <button ion-button (click)="openKuiri(propertyx)" >Kuiri</button>
        </div -->
     
        </ion-slide>
      
        </div>
  </ion-slides>
</ion-content>
