page-spipbpksp {
.toolbar-title {
   text-overflow: inherit;
   white-space: normal;
}
.item-md{
	
	background-color: rgba(0, 0, 0, 0);

	

	height:44px;
	}
		.card-md{
	background-color: rgba(0, 0, 0, 0);
    background-image: url('../assets/icon/rectangle.svg');
    background-size: cover;
    color:white;
    padding-left:10px;
	}
}
