page-test {
.bg{
		background-image: url('../assets/bg4.png');
		background-size: cover;
	}
	.item-md{
	
	background-color: rgba(0, 0, 0, 0);
	background-image: url('../assets/icon/rectangle.svg');
	background-size: cover;
	color:white;
	font-weight: lighter;
	
	}
		.card-md{
	background-color: rgba(0, 0, 0, 0);
    background-image: url('../assets/icon/rectangle.svg');
    background-size: cover;
    color:white;
	}
}
